@charset "UTF-8";
body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #636466;
}

.navbar-laravel {
  background-color: #76E1CD;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #76E1CD;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0);
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #636466;
  border-color: #636466;
  background-color: #fff;
}

.navbar-vertical {
  height: 100vh;
  text-align: center;
}

.vertical {
  width: 1280px;
  margin: auto;
}

.star-rating {
  position: relative;
  font-size: 18px;
}
.star-rating::before, .star-rating::after {
  content: "★★★★★";
  color: #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
}
.star-rating::after {
  color: #ffb448;
  overflow: hidden;
}

.star-rating[data-rate="0"]::after {
  width: 0px;
}

.star-rating[data-rate="1"]::after {
  width: 18px;
}

.star-rating[data-rate="2"]::after {
  width: 36px;
}

.star-rating[data-rate="3"]::after {
  width: 54px;
}

.star-rating[data-rate="4"]::after {
  width: 72px;
}

.star-rating[data-rate="5"]::after {
  width: 90px;
}
